<div class="expenses-container">
    <h2>Lista delle Spese</h2>

    <div *ngIf="errorMessage" class="error-container">
        <p class="error-message">{{ errorMessage }}</p>
    </div>


    <button mat-raised-button color="primary" (click)="showAddExpenseForm()">
        Aggiungi Spesa
    </button>

    <!-- Modulo per aggiungere o modificare una spesa -->
    <app-upsert-expense *ngIf="showForm" [expense]="currentExpense" [isEditMode]="isEditMode"
        (save)="handleSaveExpense($event)" (cancel)="handleCancel()">
    </app-upsert-expense>

    <!-- Lista delle spese -->
    <div class="expense-card" *ngFor="let expense of expenses; let i = index">
        <mat-card>
            <mat-card-content>
                <h3>{{ expense.description }}</h3>
                <p>Importo: {{ expense.amount | currency:'EUR' }}</p>
                <p>Data: {{ expense.date | date:'dd/MM/yyyy' }}</p>
                <p>Categoria: {{ expense.category }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="accent" (click)="editExpense(i)">Modifica</button>
                <button mat-button color="warn" (click)="deleteExpense(i)">Elimina</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>