<form (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Descrizione</mat-label>
        <input matInput type="text" [(ngModel)]="expense.description" name="description" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Importo</mat-label>
        <input matInput type="number" [(ngModel)]="expense.amount" name="amount" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="expense.date" name="date" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="expense.category" name="category" required>
            <mat-option value="" disabled>Seleziona una categoria</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openCamera()">Scatta Foto</button>

    <button mat-raised-button color="primary" (click)="getCapturedImage()">Visualizza Immagine</button>

    <button mat-raised-button color="primary" (click)="gotoMap()">Recupera coordinate GPS</button>

    <div *ngIf="capturedImage">
        <h3>Immagine Catturata:</h3>
        <img [src]="capturedImage" alt="Immagine catturata" />
    </div>

    <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">
            {{ isEditMode ? 'Salva Modifica' : 'Aggiungi Spesa' }}
        </button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Annulla</button>
    </div>
</form>