/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --mdc-list-list-item-label-text-color: white;
  /* Forza il colore del testo a bianco */
}

:root {
  --mdc-filled-text-field-container-color: white;
  /* Cambia lo sfondo del campo input a bianco */
}

:root {
  --mat-option-text-color: black;
  /* Cambia il colore del testo delle opzioni a nero */
}

div.mat-mdc-select-panel .mat-mdc-option {
  color: black !important;
  /* Cambia il colore del testo a nero */
  background-color: rgb(185, 183, 183) !important;
  /* Assicura che lo sfondo sia bianco */
}