/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --mdc-list-list-item-label-text-color: white; /* Forza il colore del testo a bianco */
  }
  